@charset "utf-8";

@import url("https://use.typekit.net/gag2ulb.css");

@import "./bulma/sass/utilities/initial-variables";
@import "./bulma/sass/utilities/functions";

$aktiv: "aktiv-grotesk", sans-serif;

$family-serif: $aktiv;
$family-primary: $aktiv;

$navbar-dropdown-arrow: $black;
$navbar-dropdown-border-top: 0px;
$navbar-dropdown-radius: 3px;
$navbar-dropdown-offset: 0px;

@import "./bulma/bulma.sass";

.page-content {
	.content {
		@extend .container;

		@include touch {
			padding-left: 32px;
			padding-right: 32px;
		}

		@include desktop {
			max-width: 850px !important;
		}

		padding-top: 32px;
		padding-bottom: 32px;

		line-height: 1.5;
	}
}

.navbar-link:not(.is-arrowless)::after {
	border: 1px solid $black;
	border-radius: 1px;
	margin-top: -0.4375em;
	border-right: 0;
	border-top: 0;
}

.image {
	max-width: 85vw;
	max-height: 80vh;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@include touch {
		max-height: 85vh;
		padding-left: 1.9rem;
		padding-right: 1.9rem;
	}
}

.image[data-active="true"] {
	display: block;
}

.image[data-active="false"] {
	display: none;
}

.image-container {
	@extend .container;
	@extend .is-fluid;
	cursor: grab;
	align-items: center;
	display: flex;
	height: 80vh;

	@include touch {
		height: 85vh;
		padding-left: 16px;
		padding-right: 16px;
	}
}

.image-controls {
	position: absolute;
	top: 50%;
	padding: 8px 10px 8px 8px;
	color: white;
	transition: 0.3s ease;
	stroke: rgb(58, 58, 58);
	width: 1.75rem;
}

.image-controls.forward {
	@include touch {
		right: 1.5rem;
	}
	@include desktop {
		right: 32px;
	}
}

.image-controls:hover {
	stroke: rgb(0, 0, 0);
}
