@charset "utf-8";

@use "./bulma/sass/utilities/mixins";
@import url("https://use.typekit.net/gag2ulb.css");

@import "./bulma/bulma.scss";
@import "./bulma/sass/utilities/initial-variables";
@import "./bulma/sass/utilities/functions";

$aktiv: "aktiv-grotesk", sans-serif;

$family-serif: $aktiv;
$family-primary: $aktiv;

$navbar-dropdown-arrow: $black;
$navbar-dropdown-border-top: 0px;
$navbar-dropdown-radius: 0px;
$navbar-dropdown-offset: 0px;
$navbar-box-shadow-color: rgba(0, 0, 0, 0);
$navbar-dropdown-radius: 0;
$navbar-dropdown-border-style: none;

button {
	cursor: pointer;
	font: inherit;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	outline: inherit;
}

.navbar-dropdown {
	padding-top: 0;
	padding-bottom: 0;
	border-top-style: none;
}

.navbar-burger {
	transition: transform 0.1s ease !important;
	background-color: var(--bulma-navbar-background-color);

	span {
		transition: transform 0.1s !important;
		background-color: var(--bulma-navbar-item-color);
	}
}

.navbar-burger:hover {
	background-color: var(--bulma-navbar-background-color);
	span {
		background-color: var(--bulma-navbar-item-color);
	}
}

.navbar-burger.is-active {
	background-color: var(--bulma-navbar-background-color);
	span {
		background-color: var(--bulma-navbar-item-color);
	}
}

.image-container-base {
	@extend .container;
	cursor: grab;
	align-items: center;
	display: flex;
}

.image {
	max-width: 85vw;
	max-height: 80vh;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@include mixins.touch {
		max-height: 85vh;
		padding-left: 1.9rem;
		padding-right: 1.9rem;
	}
}

.image[data-active="true"] {
	display: block;
}

.image[data-active="false"] {
	display: none;
}

.image-container {
	@extend .image-container-base;
	@extend .is-fluid;
	height: 80vh;

	@include mixins.touch {
		height: 85vh;
		padding-left: 16px;
		padding-right: 16px;
	}
}

.image-controls {
	position: absolute;
	top: 50%;
	padding: 8px 10px 8px 8px;
	color: white;
	transition: 0.3s ease;
	stroke: rgb(58, 58, 58);
	width: 1.75rem;

	@media (prefers-color-scheme: dark) {
		stroke: white;
	}
}

.image-controls.forward {
	@include mixins.touch {
		right: 1.5rem;
	}
	@include mixins.desktop {
		right: 32px;
	}
}

.image-controls:hover {
	stroke: rgb(0, 0, 0);

	@media (prefers-color-scheme: dark) {
		stroke: rgb(219, 219, 219);
	}
}

.page-content {
	.content {
		padding-top: 32px;
		padding-bottom: 32px;

		line-height: 1.5;

		@extend .container;

		@include mixins.touch {
			padding-left: 32px;
			padding-right: 32px;
		}

		@include mixins.desktop {
			max-width: 850px !important;
		}
	}

	.content:last-child {
		@include mixins.touch {
			padding-bottom: 0px;
		}
	}

	.image-container-dynamic {
		padding-top: 32px;
		padding-bottom: 32px;

		@extend .image-container-base;

		@include mixins.touch {
			padding-left: 32px;
			padding-right: 32px;
		}

		@include mixins.desktop {
			max-width: 850px !important;
		}

		.image {
			@extend .image;
			max-width: 80%;
		}

		.image-controls.forward {
			@extend .image-controls, .forward;
			@include mixins.desktop {
				right: 0px;
			}
		}
	}

	hr {
		@extend .container;

		@include mixins.touch {
			margin-left: 32px;
			margin-right: 32px;
			margin-bottom: 32px;
		}

		@include mixins.desktop {
			max-width: 850px !important;
		}
	}
}

.navbar-link:not(.is-arrowless)::after {
	border: 1px solid #000;
	border-radius: 1px;
	margin-top: -0.4375em;
	border-right: 0;
	border-top: 0;

	@media (prefers-color-scheme: dark) {
		border: 1px solid #fff;
		border-radius: 1px;
		margin-top: -0.4375em;
		border-right: 0;
		border-top: 0;
	}
}

.darkmodesvg {
	fill: var(--bulma-navbar-item-color);
}

#pdf-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 80%;
	margin-left: 10%;
}

.pdf-page {
	width: 100%;
	height: auto;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
